<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.0.0-alpha34/sigma.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js"></script>
<button type="button" {{on "click" this.sayHello}}>
    {{this.text}}
</button>
