<script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.4.0/sigma.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js"></script>

<style>
    html,
    body,
    #sigma-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
</style>
<div id="sigma-container"></div>

<script>
    window.onload = function() {
        var Graph = window.graphology;
        var sigma = window.Sigma
        const sigmaContainer = document.getElementById("sigma-container");

        const graph = new Graph();

        graph.addNode("John", { x: 0, y: 10, size: 5, label: "John", color: "blue" });
        graph.addNode("Mary", { x: 10, y: 0, size: 3, label: "Mary", color: "red" });

        graph.addEdge("John", "Mary");

        const renderer = new sigma(graph, sigmaContainer);
    };
    
</script>
